rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // * Check if the user is authenticated
    function isAuthenticated() {
      return request.auth != null;
    }

    // * Check if the user is the owner of the document
    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

    match /items/{itemId} {
      allow read, write: if isAuthenticated();
    }

    match /user_profiles/{userId} {
      allow read, write: if isOwner(userId);
    }

    match /user_shopping_list_settings/{userId} {
      allow read, update: if isOwner(userId);

      // NOTE: Create & Delete are done by AdminSDK
    }

    match /shopping_lists/{shoppingListId} {
      // * Check if the user is the owner of the shopping list
      function isShoppingListOwner(userId) {
        return isOwner(get(/databases/$(database)/documents/shopping_lists/$(shoppingListId)).data.ownerUserId);
      }

      allow create: if isAuthenticated();

      // TODO(Ukkey): メンバー読み取り権限の付与（要: リスト共有機能）
      allow read: if isOwner(resource.data.ownerUserId);

      allow update, delete: if isOwner(resource.data.ownerUserId);

      match /shopping_items/{shoppingItemId} {
        allow read, write: if isShoppingListOwner(userId);
      }
    }
  }
}