rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /items/{itemID} {
      allow read, write: if true
    }
    match /user_profiles/{userId} {
      // 読み取り・書き込み: 本人のみ
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /user_shopping_list_settings/{userId} {
      // 読み取り・書き込み: 本人のみ
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}